.DS_Store
__pycache__

build/
bin/
run/
python_install/
conda/
condor/
logs/
slurm/
tmp/
env/
user/
.vscode/launch.json
*log*/

*.pyc
*checkpoint.ipynb
*.egg-info/
*_cache/
*.cache/
*.ipynb
*.parquet

